.query-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes up full width */
    max-width: 600px; /* Optional: Set a max width for the query form */
  }
  
  .query-box {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .query-heading {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 200;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; /* Ensure the correct font family is applied */
    /* Add text shadow */
}

.query-description {
    margin-top: 30px;
    font-size: 0.9em;
    color: #51da4b;
    margin-bottom: 20px;
}

/* Form styling */
.query-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.query-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    color: #333;
    resize: none;
    margin-right: 10px;
    box-sizing: border-box;
}

.query-submit {
    background-color: #51da4b;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.query-submit:hover {
    background-color: #3ab938;
}

/* Spinner styling */
.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Error and Response styling */
.query-error {
    color: #ff6b6b;
    margin-top: 10px;
}

.query-response {
    margin-top: 20px;
    background-color: #2e2e2e;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;
}
